div<div class="homeContainer">
  <div class="homeContainer_newsContainer">
    <section class="homeContainer_newsContainer--feature-section">
      <h2>Feature</h2>
      <div class="homeContainer_newsContainer--feature-section_card">
        <img
          class="homeContainer_newsContainer--feature-section_card_featureImage"
          src="../../../assets/images/raspoutine.webp"
          alt=""
        />
        <p>Le Voyageur</p>
      </div>
    </section>
    <section class="homeContainer_newsContainer--new-section">
      <h2>New</h2>
      <div class="homeContainer_newsContainer--new-section_container">
        <article
          class="homeContainer_newsContainer--new-section_container_card"
        >
          <img
            class="homeContainer_newsContainer--new-section_container_card_newImage"
            src="../../../assets/images/raspoutine.webp"
            alt=""
          />
          <p>Le Voyageur1</p>
        </article>
        <article
          class="homeContainer_newsContainer--new-section_container_card"
        >
          <img
            class="homeContainer_newsContainer--new-section_container_card_newImage"
            src="../../../assets/images/raspoutine.webp"
            alt=""
          />
          <p>Le Voyageur1</p>
        </article>
        <article
          class="homeContainer_newsContainer--new-section_container_card"
        >
          <img
            class="homeContainer_newsContainer--new-section_container_card_newImage"
            src="../../../assets/images/raspoutine.webp"
            alt=""
          />
          <p>Le Voyageur1</p>
        </article>
        <article
          class="homeContainer_newsContainer--new-section_container_card"
        >
          <img
            class="homeContainer_newsContainer--new-section_container_card_newImage"
            src="../../../assets/images/raspoutine.webp"
            alt=""
          />
          <p>Le Voyageur1</p>
        </article>

      </div>
    </section>
  </div>
  <div class="homeContainer_cinema">
    <div class="homeContainer_cinema_title">
      <h2>Cinema</h2>
      <div class="homeContainer_cinema_title--hr"></div>
      <p>See more</p>
    </div>
    <div class="homeContainer_cinema_containt">
      <article class="homeContainer_cinema_containt_article">
        <img src="../../../assets/images/raspoutine.webp" alt="">
        <p>Voyageur2</p>
      </article>
      <article class="homeContainer_cinema_containt_article">
        <img src="../../../assets/images/raspoutine.webp" alt="">
        <p>Voyageur2</p>
      </article>
      <article class="homeContainer_cinema_containt_article">
        <img src="../../../assets/images/raspoutine.webp" alt="">
        <p>Voyageur2</p>
      </article>
      <article class="homeContainer_cinema_containt_article">
        <img src="../../../assets/images/raspoutine.webp" alt="">
        <p>Voyageur2</p>
      </article>
    </div>

  </div>
</div>
